version: '3.9'

services:
  postgres:
    container_name: ms_postgres
    image: postgres:15
    environment:
      POSTGRES_USER: hicham
      POSTGRES_PASSWORD: azeroual
      PGDATA: /data/postgres
    volumes:
      - postgres_data:/data/postgres
    ports:
      - "5433:5432"
    networks:
      - microservices-net
    restart: unless-stopped

  pgadmin:
    container_name: ms_pgadmin
    image: elestio/pgadmin

    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - microservices-net
    restart: unless-stopped

  mongodb:
    container_name: ms_mongo_db
    image: mongo:7
    platform: linux/amd64
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: hicham
      MONGO_INITDB_ROOT_PASSWORD: azeroual
    volumes:
      - mongo_data:/data/db
    networks:
      - microservices-net
    restart: unless-stopped
    command: --wiredTigerCacheSizeGB=1

  mongo-express:
    container_name: ms_mongo_express
    image: mongo-express:latest
    platform: linux/amd64
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: hicham
      ME_CONFIG_MONGODB_ADMINPASSWORD: azeroual
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_BASICAUTH: "false"
    networks:
      - microservices-net
    depends_on:
      - mongodb

  mail-dev:
    container_name: ms_mail_dev
    image: maildev/maildev:latest
    platform: linux/amd64
    ports:
      - "1080:1080"
      - "1025:1025"
    networks:
      - microservices-net
    restart: unless-stopped

networks:
  microservices-net:
    driver: bridge

volumes:
  postgres_data:
  pgadmin_data:
  mongo_data:
