version: '3.9'

services:
  postgres:
    container_name: ms_pg_sql
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: hicham
      POSTGRES_PASSWORD: azeroual
      POSTGRES_DB: microservices_db  # recommended to define default DB
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    networks:
      - microservices-net
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U hicham"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    container_name: ms_pgadmin
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - microservices-net
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  mongodb:
    container_name: ms_mongo_db
    image: mongo:7
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: hicham
      MONGO_INITDB_ROOT_PASSWORD: azeroual
    volumes:
      - mongo_data:/data/db
    networks:
      - microservices-net
    restart: unless-stopped
    command: --wiredTigerCacheSizeGB=1  # optional: limits RAM usage

  mongo-express:
    container_name: ms_mongo_express
    image: mongo-express:latest
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: hicham
      ME_CONFIG_MONGODB_ADMINPASSWORD: azeroual
      ME_CONFIG_MONGODB_SERVER: mongodb          # important: service name
      ME_CONFIG_MONGODB_PORT: 27017
      ME_CONFIG_BASICAUTH: "false"                # disable if you don't want login
    networks:
      - microservices-net
    depends_on:
      - mongodb

  mail-dev:
    container_name: ms_mail_dev
    image: maildev/maildev:latest
    ports:
      - "1080:1080"   # Web UI
      - "1025:1025"   # SMTP port
    networks:
      - microservices-net
    restart: unless-stopped

networks:
  microservices-net:
    driver: bridge

volumes:
  postgres_data:
  pgadmin_data:
  mongo_data: